@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

 /* Colors */
 $red-highlight: #D2483D;
 $light-grey: #F3F3F3;
 $black: #000000;
 $white: #FFFFFF;

 /* Text configuration */
 $body-font: 'Montserrat';
 $body-highlight-font: 'Montserrat';
 $header-font: 'Bebas Neue';
 $title-font: 'Bebas Neue';

 $body-font-weight: 400;
 $body-highlight-font-weight: 600;
 $header-font-weight: 400;
 $title-font-weight: 400;

 $body-font-size: 20px;
 $body-highlight-font-size: 20px;
 $header-font-size: 72px;
 $title-font-size: 24px;

 $body-line-height: 24px;
 $body-highlight-line-height: 24px;
 $header-line-height: 54px;
 $title-line-height: 28px;

 @mixin body-props {
   background-color: $light-grey;
    font-family: $body-font;
    font-weight: $body-font-weight;
    font-size: $body-font-size;
    line-height: $body-line-height;
    color: $black;
}

@mixin highlight-props {
font-family: $body-highlight-font;
font-weight: $body-highlight-font-weight;
font-size: $body-font-size;
 line-height: $body-highlight-line-height;
}

@mixin header-props {
   font-family: $header-font;
   font-weight: $header-font-weight;
   font-size: $header-font-size;
   line-height: $header-line-height;
   color: $black;
}



@mixin title-props {
   font-family: $title-font;
    font-weight: $title-font-weight;
    font-size: $title-font-size;
    line-height: $title-line-height;
    color: $black;
    text-decoration: underline $red-highlight 0.1875rem;
    text-underline-offset: 0.25rem;
    margin-bottom: 36px;
}

 body {
   @include body-props
}

h1 {
   @include header-props
}


 h2 {
    @include title-props
 }

 .colored-text {
   color: $red-highlight
 }